---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I'm a Digital Growth Strategist and Performance Marketing specialist, driven by a passion for transforming online presence into measurable results. 
    My expertise lies in optimizing funnels, driving conversions, and building robust brand visibility across diverse digital landscapes. 
    I leverage data-driven insights to craft compelling SEO, PPC, Content, and Social Media Marketing campaigns that don't just reach audiences, but truly engage and convert them. 
    My goal? To consistently deliver ROI-focused strategies that ignite conversations and accelerate business growth.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="DIGITAL MARKETING"
      subtitle="MAY 2025 to JULY 2025 at HONEY TREAT ACADEMY, LAGOS, NIGERIA"
    />

    <TimeLineElement
      title="HOSPITALITY MANAGEMENT"
      subtitle="2021 to 2023 at WAVECREST COLLEGE OF EDUCATION, LAGOS, NIGERIA"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="DIGITAL MARKETING PROFESSIONAL"
      subtitle="From JUNE to JULY at DEE ARKOUNTING AND TAX PROFESSIONALS, LAGOS, NIGERIA"
    >
      Developed and executed a tailored digital marketing strategy for Dee Arkounting and Tax Professionals, focusing on SEO, Google Business Profile optimization, and content marketing. Increased website visibility, improved keyword rankings, and drove higher engagement from target clients. Contributed to the growth of their online presence and lead generation through analytics-driven decision-making and performance tracking.
    </TimeLineElement>
    <TimeLineElement
      title="CLIENT RELATIONSHIP MANAGER"
      subtitle="From 2024 to 2025 at HUTCHLAM SERVICES LIMITED , LAGOS, NIGERIA"
    >
      Managed and nurtured key client relationships, ensuring satisfaction and long-term engagement through proactive communication and tailored support. Acted as a liaison between clients and technical teams to ensure timely delivery of IT solutions and services. Played a pivotal role in contract negotiations, service follow-ups, and issue resolution, contributing to improved client retention and business growth.
    </TimeLineElement>

 <!---    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From Start Date to End Date at Company, City, Country"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>--->
  </div> 

<!--- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> --->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Digital Marketing</li>
    <li>Email Marketing</li>
    <li>Content Strategy</li>
    <li>SEO</li>
    <li>Social Media Magemagement</li>
    <li>Administrative Management</li>
  </ul>
</BaseLayout>
