---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hello 👋</div>
    <div class="text-5xl font-bold">I'm  Precious Ono</div>
    <div class="text-3xl py-3 font-bold">Digital Marketing Professional and Entrepreneur</div>
    <div class="py-2">
      <text class="text-lg">
        I transform business objectives into tangible online growth. As a data-driven Digital Marketing Strategist, 
        I specialize in crafting innovative campaigns that not only solve complex marketing challenges but consistently <b>drive 
        measurable results</b> and <b>spark meaningful conversations</b> for brands.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="mailto:onoprecious247@gmail.com" target="_blank">Let's Talk Growth!</a>
      <a href="https://www.linkedin.com/in/preciousono/" target="_blank" class="btn btn-outline ml-5">
        Let's Connect!
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My lastest projects </div>
  </div>

  <HorizontalCard
    title="Google Business Profile Optimization"
    img="/post_img.webp"
    desc="Specializes in digital marketing strategies that boost your online visibility on Google Search and Maps, drive website traffic, and help you grow your business. Let's connect and turn your online presence into new client relationships."
    url="https://g.co/kgs/c4AeHtm"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Dee Arkounting and Tax Professionals"
    img="/post_img.webp"
    desc="We revamped their digital presence, implemented SEO-focused content strategies, and boosted search visibility—resulting in improved lead generation and client engagement for a leading tax consultancy."
    url="https://arkountingtaxprof.com/tax-audit-in-nigeria-guide-2025/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="From Invisible to Irresistible: SEO Results You Need to See"
    img="/post_img.webp"
    desc="See the real impact of our digital strategy: improved ranking, increased clicks, and higher conversions. Explore the results that turned passive visits into paying clients."
    url="https://www.linkedin.com/posts/preciousono_digitalmarketing-seo-localseo-activity-7344768340080349184-yo8M"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
