---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Precious Ono
  </div>
  <div class="inline opacity-75">
    Developed with love ❤ by <a href="https://www.linkedin.com/in/preciousono/" target="_blank" class="font-bold">Precious Ono</a>
  </div>
</footer>
<style></style>
